<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">2e9988e6</property>
		<property name="hibernate.connection.url">jdbc:mysql://us-cdbr-cb-east-01.cleardb.net:3306/cb_emka</property>
		<property name="hibernate.connection.username">b555b40afd2070</property>
		<property name="hibernate.default_schema">cb_emka</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.example.model.Unit"/>
		<mapping class="com.example.model.Category"/>
		<mapping class="com.example.model.Price"/>
		<mapping class="com.example.model.Barcode"/>
		<mapping class="com.example.model.Product"/>

	</session-factory>
</hibernate-configuration>
